/* Global */

:root {
  --body-bg-color: #2a1e55;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

/* main */

body {
  background-color: var(--body-bg-color);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--text-color);
}

p {
  font-size: 25px;
  color: #fff;
  text-align: center;

  margin-bottom: 10px;
}

.perfil {
  text-align: center;
}

.perfil img {
  width: min(100vw, 12.5rem);
  height: min(100vw, 12.5rem);

  margin-bottom: 2.5rem;

  border: solid 6px black;

  border-radius: 6.25rem;
}

.Social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Social a {
  margin-top: 20px;
  margin-right: 10px;

  padding: 20px;
  font-size: 25px;

  width: min(100vw, 20.375rem);

  border: solid 1px #fff;
  border-radius: 20px;

  display: flex;
  justify-content: center;
}

.Social a img {
  margin-right: 15px;
}

.Social a:nth-child(1) {
  background-color: blue;
  border-color: blue;
}
.Social a:nth-child(2) {
  background-color: black;
  border-color: black;
}
.Social a:nth-child(3) {
  background-color: #da5061;
  border-color: #da5061;
}
.Social a:nth-child(4) {
  background-color: blue;
  border-color: blue;
}
